<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Database</title>
</head>
<body>

<form action="" method="post">
    <p>
        <label for="host ">host </label>
        <input type="text" name="host">
    </p>
    <p>
        <label for="database">database </label>
        <input type="text" name="database">
    </p>
    <p>
        <label for="user">user</label>
        <input type="text" name="user">
    </p>
    <p>
        <label for="password">password</label>
        <input type="text" name="password">
    </p>
    <p>
        <input type="submit">
    </p>
</form>

</body>
</html>